.dygraph-label {
  font-size: 18px !important;
}
.dygraph-axis-label {
  font-size: 14px !important;
}
.dygraph-legend {
  left: 70px !important;
  background-color: transparent !important;
}
.dygraph-legend > span {
  font-size: 18px !important;
}